* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #3a2222;
}

h1 {
  color: #f7f7f7;
  margin: 2rem;
  text-align: center;
  font-family: sans-serif;
}

main {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: center;
  margin: 2rem;
  padding: .5rem;
}

figCaption {
  text-align: center;
  display: block;
  margin: 0px 11px 12px 11px;
  font-family: sans-serif;
  font-size: x-large;
  font-weight: 300;
  text-align: center;
  background-color: #e2e2e2;
  color: #ff2121;
  border-radius: 6px 6px 6px 6px;
}

figure img {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  margin: 1rem;
}

footer {
  text-align: center;
  padding: 2rem;
  color: #5a5a5a;
  font-family: sans-serif;
}