* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  h1 {
    color: green;
  }
  
  main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  figure {
    margin: 1rem;
  }
  
  
  figcaption {
    font-size: xx-large;
    text-align: center;
  }