*{
  background-color: rgb(137, 137, 137);
  box-sizing: border-box;
}


main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQFqQj3zcWzyTB_QSwxQCC4JlFKAs_x717FTw&usqp=CAU);
  
  }
  header{
    display: flex;
    justify-content: center;
    align-items: center;
  }


  figure img {
    height: 25rem;
  }
  
  
  button {
    width: 10rem;
    height: 3rem;
    margin: 2rem;
    background-color: rgb(255, 43, 43);
  }
  