:root {
    --main-white: #ce0000;
    --main-blue: #808080;
    --Teal-Dark-1-hex: #000000;
    --Teal-Dark-2-hex: #636363;
    --Teal-Dark-3-hex: #c70000;
    --Teal-Dark-4-hex: #c9c9c9;
    --Teal-Dark-5-hex: #4b4b4b;
  }
  
  * {
    margin: 0;
    padding: 0;
  }
  
  html {
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
  
  #navbar {
    display: flex;
    justify-content: flex-end;
    background-color: var(grey);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }
  
  .navlist {
    display: flex;
    list-style-type:none;
  }
  
  .navlist a {
    display: block;
    color: var(--main-white);
    padding: 1rem;
    font-size: x-large;
  }
  
  .navlist a:hover {
    background: var(--main-blue);
  }
  
  a {
    text-decoration: none;
  }
  
  #welcome-section {
    height: 100vh;
    background-color: #ff5959;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(grey);
  }
  
  h1 {
    font-size: 4rem;
    padding: 3rem;
    color: var(blue);
  }
  
  #projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--Teal-Dark-2-hex);
  }
  
  .project-tiles {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .project-tiles a {
    margin: 2rem;
  }
  
  .project-tile img {
    width: 25rem;
    height: 21rem;
  }
  
  figcaption {
    font-size: x-large;
    text-align: center;
    background-color: var(--Teal-Dark-4-hex);
    border-radius: 3px 3px 5px 5px;
  }
  
  #contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--Teal-Dark-4-hex);
  }
  
  #contact h1 {
    color: var(--Teal-Dark-1-hex);
  }
  
  .contact-links {
    display: flex;
  }
  
  .contact-links a {
    display: block;
    font-size: x-large;
    padding: 3rem;
  }
  
  .contact-details {
    color: var(--Teal-Dark-2-hex);
  
    text-shadow: 2px 2px 1px hsl(0, 38%, 28%);
    transition: transform 0.3s ease-out;
  }
  
  .contact-details:hover {
    transform: translateY(8px);
  }
  
  footer {
    font-size: large;
    text-align: center;
    padding: 3rem;
    background-color: var(--Teal-Dark-4-hex);
  }
  
  @media (max-width: 61.25em) {
    html {
      font-size: 60%;
    }
  }
  
  @media (max-width: 40em) {
    html {
      font-size: 50%;
      color: rgb(119, 119, 119);
    }
  }

  #interestpage-img{
    width: 10rem;
    height: 6rem;
  }